<md-dialog aria-label="Ganadores actividad" flex="50" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Asignar ganador(es) de la actividad</h2>
            <span flex></span>
            <md-button aria-label="Cancelar" class="md-icon-button" ng-click="cancelar()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>

    <md-dialog-content hide-gt-sm show-sm show-xs>
        <md-content class="md-padding">
            <md-toolbar class="md-table-toolbar alternate" ng-hide="ganadores.length">
                <div class="md-toolbar-tools">
                    <span>Seleccione a quien(es) serán ganador(es) de la actividad.</span>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="ganadores.length">
                <div class="md-toolbar-tools">
                    <span>{{ganadores.length}} {{ganadores.length > 1 ? 'estudiantes ganaron la actividad' : 'estudiante gano la actividad'}}</span>
                </div>
            </md-toolbar>
            <md-list-item ng-repeat="estudiante in estudiantes" ng-click="cambiarParticipacion(estudiante)">
                <div layout="row" flex="100">
                    <div flex="80">{{estudiante.rut}} | {{estudiante.nombre}} {{estudiante.apellido}}</div>
                    <div flex="5">
                        <md-icon md-font-icon="fa fa-trophy" style="height: inherit;" ng-show="estudiante.estado_part_act=='ganador'" aria-label="Ganador"></md-icon>
                    </div>
                </div>
            </md-list-item>
        </md-content>
    </md-dialog-content>
    <md-dialog-content show-gt-sm hide-sm hide-xs>
        <md-content class="md-padding">
            <md-toolbar class="md-table-toolbar alternate" ng-hide="ganadores.length">
                <div class="md-toolbar-tools">
                    <span>Seleccione a quien(es) serán ganador(es) de la actividad.</span>
                </div>
            </md-toolbar>
            <md-toolbar class="md-table-toolbar alternate" ng-show="ganadores.length">
                <div class="md-toolbar-tools">
                    <span>{{ganadores.length}} {{ganadores.length > 1 ? 'estudiantes ganaron la actividad' : 'estudiante gano la actividad'}}</span>
                </div>
            </md-toolbar>
            <md-list-item ng-repeat="estudiante in estudiantes" ng-click="cambiarParticipacion(estudiante)">
                <div layout="row" flex="100">
                    <div flex="30">{{estudiante.rut}} </div>
                     <div flex="60">| {{estudiante.nombre}} {{estudiante.apellido}}</div>
                    <div flex></div>
                    <div flex="5">
                        <md-icon md-font-icon="fa fa-trophy" style="height: inherit;" ng-show="estudiante.estado_part_act=='ganador'" aria-label="Ganador"></md-icon>
                    </div>
                </div>
            </md-list-item>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout-align="center center">
        <md-button aria-label="Aceptar" ng-click="aceptar()" class="md-raised md-primary">Aceptar</md-button>
        <md-button aria-label="Aceptar" ng-click="cancelar()" class="md-raised md-primary">Cancelar</md-button>
    </md-dialog-actions>

</md-dialog>
