<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelar()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Crear curso</h3>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                Todos los campos son obligatorios.
                <br><br>
            </div>
        </div>
        <form class="form-horizontal">
            <div class="form-group">
                <label for="AsignaturaSelect" class="col-sm-2 control-label">Asignatura: </label>
                <div class="col-sm-9">
                    <select name="AsignaturaSelect" id="AsignaturaSelect"
                            ng-options="option.nombre_asignatura for option in asignaturas"
                            ng-model="asignaturaSeleccionada"></select>
                    <div ng-if="cargandoAsignaturas">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="AñoSelect" class="col-sm-2 control-label">Año: </label>
                <div class="col-sm-9">
                    <select name="AñoSelect" id="AñoSelect"
                            ng-options="option.ano for option in anos"
                            ng-model="anoSeleccionado"
                            ng-change="cargarSemestre(anoSeleccionado)"></select>
                    <div ng-if="cargandoAno">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label for="SemestreSelect" class="col-sm-2 control-label">Semestre: </label>
                <div class="col-sm-9">
                    <select name="SemestreSelect" id="SemestreSelect"
                            ng-options="option.semestre for option in semestres"
                            ng-model="semestreSeleccionado"
                            ng-change="guardarCalendario(semestreSeleccionado.calendario)"></select>
                    <div ng-if="cargandoSemestre">
                        <i class="fa fa-circle-o-notch fa-spin"></i>
                    </div>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12 centrado">
                <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="aceptar()">Guardar</button>
    </div>
</div>
</body>
</html>