<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div class="modal-content" id="crearCursoModal.html">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" ng-click="cancelar()"><span aria-hidden="true">&times;</span></button>
        <h3 class="modal-title">Crear curso</h3>
    </div>
    <div class="modal-body">
        <h4>Nombre</h4>
        <h4>Año</h4>
        <h4>Semestre</h4>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cancelar()">Cancelar</button>
        <button type="button" class="btn btn-primary" ng-click="aceptar()">Guardar</button>
    </div>
</div>
</body>
</html>