<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div ng-controller="ClasesController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cerrarModal()">&times;</button>
            <h4 class="modal-title">{{modalTitulo}}</h4>
        </div>
        <p>Como la sesión de preguntas se encuentra cerrada, tiene tres opciones</p>
        <p>Volver a abrir sesión: Se informa a los estudiantes pertenecientes al curso, que se encuentra la sesión de preguntas abiertas relacionada a la clase.</p>
        <p>Modificar sesión: Solo podrá editar los resultados de las preguntas correspondientes a la sesión.</p>
        <p>Cancelar: Cerrar esta ventana.</p>
        <div class="modal-footer centrado">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarModal()">Cancelar</button>
            <button type="button" class="btn btn-primary" ng-click="aceptarModal()">Volver a abrir sesión</button>
            <button type="button" class="btn btn-primary" ng-click="aceptarModal()">Modificar sesión</button>
        </div>
    </div>
</div>
</body>
</html>