<!--
<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div ng-controller="ClasesController">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cerrarModal()">&times;</button>
            <h4 class="modal-title">{{modalTitulo}}</h4>
        </div>
        <form class="form-horizontal">
            <div class="modal-body">
                <div class="form-group">
                    <label for="fecha" class="col-sm-4 control-label">Fecha:</label>
                    <div class="col-sm-8" id="fecha">
                        {{fechaClase | date:'dd-MM-yyyy'}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="modulo" class="col-sm-4 control-label">Modulo:</label>
                    <div class="col-sm-8" id="modulo">
                        {{moduloClase}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="descripcion" class="col-sm-4 control-label">Descripcion:</label>
                    <div class="col-sm-8" id="descripcion">
                        {{descripcionClase}}
                    </div>
                </div>
                <div class="form-group">
                    <label for="estado_sesion" class="col-sm-4 control-label">Estado de la sesión:</label>
                    <div class="col-sm-8" id="estado_sesion">
                        Sesión {{estado_sesion}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 centrado">
                    <p>Las preguntas asociadas a esta clase serán movidas al curso.</p>
                </div>
            </div>
        </form>
        <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="cerrarModal()">No</button>
            <button type="button" class="btn btn-primary" ng-click="aceptarModal()">Si</button>
        </div>
    </div>
</div>
</body>
</html>
-->

<md-dialog aria-label="List dialog" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Eliminar clase</h2>
                <span flex></span>
                <md-button aria-label="Cancelar" class="md-icon-button" ng-click="cancelar()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
        <div class="md-dialog-content">
            <p>Al eliminar esta clase, las preguntas asociadas a ésta clase serán dejadas en el curso.</p>
            <div><p>{{fecha | date:"dd-MM-yyyy"}}</p></div>
            <div><p>{{modulo}}</p></div>
            <div style="max-width: 450px"><p>{{descripcion}}</p></div>
            <div><p>{{estado_sesion}}</p></div>
<!--//'       <div layout="row" layout-align="center none" style="max-width: 400px">' +-->
    <!--//'           <div flex="35" style="background-color: #006600">Fecha</div>' +-->
    <!--//'           <div flex="5" style="background-color: #408080"></div>' +-->
    <!--//'           <div flex="60" style="background-color: #006600">Estado</div>' +-->
    <!--//'       </div>' +-->
<!--//'       <div layout="row" layout-align="center none" style="max-width: 400px">' +-->
    <!--//'           <div flex="35" style="background-color: #00d6b2">{{fecha | date:"dd-MM-yyyy"}}</div>' +-->
    <!--//'           <div flex="5" style="background-color: #408080"></div>' +-->
    <!--//'           <div flex="60" style="background-color: #00d6b2" >{{estado_sesion}}</div>' +-->
    <!--//'       </div>' +-->
<!--//'       <br><br>' +-->
<!--//'       <div layout="row" layout-align="center none" style="max-width: 400px">' +-->
    <!--//'           <div flex="35" style="background-color:#2b81af">Módulo</div>' +-->
    <!--//'           <div flex="65" style="background-color:#2b81af">Descripción</div>' +-->
    <!--//'       </div>' +-->
<!--//'       <div layout="row" layout-align="center none" style="max-width: 400px">' +-->
    <!--//'           <div flex="35" style="background-color: #408080">{{modulo}}</div>' +-->
    <!--//'           <div flex="65" style="background-color: #408080">{{descripcion}}</div>' +-->
    <!--//'       </div>' +-->
                <br><br>
                <div align="center">¿Desea continuar?</div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout-align="center center">
            <md-button aria-label="Aceptar" ng-click="aceptar()" class="md-raised md-primary">Si</md-button>
            <md-button aria-label="Cancelar" ng-click="cancelar()" class="md-raised md-primary">No</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>