<md-dialog aria-label="Información Alumnos" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Información del equipo</h2>
            <span flex></span>
            <md-button aria-label="Cancelar" class="md-icon-button" ng-click="cancelar()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <md-content style="width:100%;">
            <md-list>
                <!--<md-subheader class="text-center" style="background: #dddddd;">{{listaEquipoAlumno.length}} Alumnos</md-subheader>-->
                <md-list-item class="md-secondary-button-padding" ng-repeat="alumno in listaEquipoAlumno">
                    <div class="md-list-item-text text-center" layout="row" layout-xs="column" layout-align="center center">
                        <i class="fa fa-user"></i>
                        <p style="width:20rem;overflow-x: hidden;margin: 0 20px;">{{alumno.rut}}</p>
                        <p style="width:20rem;overflow-x: hidden;margin: 0 20px;">{{alumno.nombre}} {{alumno.apellido}}</p>                        
                        <p style="width:20rem;overflow-x: hidden;margin: 0 20px;">Puntos Ganados: {{alumno.puntos}}</p>
                        <p style="width:20rem;overflow-x: hidden;margin: 0 20px;">Errores: {{alumno.errores}}</p>
                        
                    </div>
                </md-list-item>
            </md-list>
        </md-content>
    </md-dialog-content>
    <md-dialog-actions layout-align="center center">
        <md-button aria-label="Cancelar" ng-click="cancelar()" class="md-raised md-primary">Salir</md-button>
    </md-dialog-actions>
</md-dialog>