<md-dialog aria-label="Eliminar Equipo" ng-cloak>

    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Eliminar Equipo | {{equipo.nombre_equipo}}</h2>
            <span flex></span>
            <md-button aria-label="Cancelar" class="md-icon-button" ng-click="cancelar()">
                <i class="fa fa-times"></i>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div style="width: 810px;">
            <div class="text-center">
                <div class="tabla-equipo" layout="column">
                    <p class="tabla-equipo-subtitulo">¿Desea eliminar al equipo "{{equipo.nombre_equipo}}" ? </p>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <md-dialog-actions layout-align="center center">
        <md-button aria-label="Aceptar" ng-click="aceptar()" class="md-raised md-primary">Eliminar</md-button>
        <md-button aria-label="Cancelar" ng-click="cancelar()" class="md-raised md-primary">Cancelar</md-button>
    </md-dialog-actions>
</md-dialog>