/* use the font */
body {
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 300;
    src: local("Roboto Light"),
    local("Roboto-Light"),
    url("../fonts/Roboto-Light.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    src: local("Roboto"),
    local("Roboto-Regular"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    src: local("Roboto Medium"),
    local("Roboto-Medium"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
}
@font-face {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    src: local("Roboto Bold"),
    local("Roboto-Bold"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
}
.botonMenu{
    padding: 0;
    margin: 0;
    width: 100%;
    border-radius: 0 0 0 0;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.botonMenu:not([disabled]):hover {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.botonMenu[disabled] {
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}
.listaMenu{
    padding: 0;
}

.itemListaMenu {
    min-height: 0;
}
.botonAccion {
    min-width: 40px;
    margin: 0;
}
.botonParticipar {
    width: 5.6rem;
    height: 5.6rem;
}
/*
tabla clases
*/
table.tablaClases > tbody > tr > td.column-fecha {
    width: 135px;
    max-width: 150px;
    min-width: 130px;
}
table.tablaClases > tbody > tr > td.column-fecha-min {
    width: 75px;
    max-width: 75px;
    min-width: 75px;
}
table.tablaClases > tbody > tr > td.column-descripcion {
    width: 50%;
    max-width: 50%;
}
table.tablaClases > tbody > tr > td.column-modulo{
    width: 15%;
    max-width: 15%;
}
table.tablaClases > tbody > tr > td.column-acciones{
    width: 130px;
    max-width: 130px;
    min-width: 84px;
}
table.tablaClases:not(.md-row-select) td.md-cell:first-child, table.tablaClases:not(.md-row-select) th.md-column:first-child {
    padding: 0 8px;
}
table.tablaClases:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.tablaClases:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 8px;
}
/*
tabla preguntas
*/
table.tablaPreguntas > tbody > tr > td.column-pregunta{
    /*width: 8%;*/
    max-width: 35%;
}
table.tablaPreguntas > tbody > tr > td.column-clase{
    /*width: 50%;*/
    max-width: 35%;
}
table.tablaPreguntas > tbody > tr > td.column-archivada{
    /*width: 15%;*/
    max-width: 10%;
}
table.tablaPreguntas > tbody > tr > td.column-acciones-min{
    width: 130px;
    max-width: 130px;
    min-width: 84px;
}
table.tablaPreguntas > tbody > tr > td.column-acciones{
    /*width: 130px;*/
    /*max-width: 130px;*/
    min-width: 20%;
    max-width: 20%;
}
table.tablaPreguntas:not(.md-row-select) td.md-cell:first-child, table.tablaPreguntas:not(.md-row-select) th.md-column:first-child {
    padding: 0 8px;
}
table.tablaPreguntas:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.tablaPreguntas:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 8px;
}
/*
eliminar padding por default
*/
table.md-table:not(.md-row-select) td.md-cell:first-child,
table.md-table:not(.md-row-select) th.md-column:first-child {
    padding: 0px 7px;
}
table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0px 7px;
}
table.md-table td.md-cell:last-child,
table.md-table th.md-column:last-child {
    padding: 0px 7px;
}
/*
tabla lista estudiantes
*/

table.tablaEstudiantes > tbody > tr > td.column-rut,
table.tablaEstudiantes > thead > tr > th.column-rut{
    min-width: 85px;
    max-width: 85px;
}
table.tablaEstudiantes > tbody > tr > td.column-nombre,
table.tablaEstudiantes > thead > tr > th.column-nombre{
    min-width: 110px;
    max-width: 130px;
}
table.tablaEstudiantes > tbody > tr > td.column-apellido,
table.tablaEstudiantes > thead > tr > th.column-apellido{
    min-width: 110px;
    max-width: 130px;
}
table.tablaEstudiantes > tbody > tr > td.column-usuario,
table.tablaEstudiantes > thead > tr > th.column-usuario{
    min-width: 110px;
    max-width: 130px;
}
table.tablaEstudiantes > tbody > tr > td.column-clave,
table.tablaEstudiantes > thead > tr > th.column-clave{
    min-width: 70px;
    max-width: 80px;
}
table.tablaEstudiantes > tbody > tr > td.column-acciones,
table.tablaEstudiantes > thead > tr > th.column-acciones{
    min-width: 90px;
    max-width: 110px;
    text-align: center;
}
/*
*/
.md-datepicker-button {
    display: none !important;
}
.md-datepicker-input-container {
    margin-left: 0 !important;
}
.md-datepicker-triangle-button.md-button.md-icon-button {
    width: 30px; }
/*
.md-datepicker-button {
    display: inline-block;
    box-sizing: border-box;
    background: none; }
*/

.centrado{
    text-align: center;
}

.alternarColor > tbody >tr:hover{
    background-color: #E3F2FD;
}
md-toolbar.md-table-toolbar.alternate {
    color: #1e88e5;
    background-color: #e3f2fd;
}
md-toolbar.md-table-toolbar.alternate .md-toolbar-tools {
    font-size: 16px;
}
.seleccionado{
    background-color: #B3E5FC;
}
.alternarColor > tbody >tr.seleccionado:hover{
    background-color: #B3E5FC;
}

.toast-success {
    background-color: #7cb342;
}
.toast-error {
    background-color: #BD362F;
}
.toast-info {
    background-color: #2F96B4;
}
.toast-warning {
    background-color: #F89406;
}
.tituloBox{
    letter-spacing: normal;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    font-size: 13px;
}
.divisor{
    border-top: 0 dashed #fff;
    border-bottom: 1px dashed #3F51B5;
}
.logo{
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    text-align: center;
    font-size: 36px;
    font-weight: bold;
}

.customCard {
    margin: 1px
}
.customCard > md-card-content{
    padding: 4px;
}
.customCard > md-card-content > table.md-table thead.md-head > tr.md-row {
    height: 25px;
}
/*fix sidenav, las deja sobre el contenido*/
md-backdrop, md-sidenav {
    position: fixed;
}
.rotacionInfinitaContenido:hover i.rotar {
    animation: girar 2s linear infinite;
}

@keyframes girar {
    from {
        transform: rotate(0deg)
    }
    to {
        transform: rotate(360deg);
    }
}
.lock:hover .icon-unlock,
.lock .icon-lock {
    display: none;
}
.lock:hover .icon-lock {
    display: inline;
}
/*fix canadado menu izquierdo*/
md-content.test { height: 100%; }
.md-button.md-fab.btnParticipar{
    width: 200px;
    height: 200px;
    background-color: #f44336;
}

/*
*/
md-icon.fa-stack{
    width: 2em;
    line-height: 2em;
}

#toast-container > .toast {
    background-image: none !important;
    background-color: #e3f2fd;
    color: #3f51b5;
}

#toast-container > .toast:before {
    position: relative;
    font-family: FontAwesome;
    font-size: 24px;
    float: left;
    margin-left: -1em;
    color: #3f51b5;
    margin-right: 1em;
}
#toast-container > .toast-success:before {
    content: "\f00c";
}
#toast-container > .toast-warning:before {
    content: "\f071";
}
#toast-container > .toast-error:before {
    content: "\f00d";
}
#toast-container > .toast-info:before {
    content: "\f129";
}
#toast-container > .ganador:before{
    content: "\f091";
}
#toast-container > .perdedor:before{
    content: "\f119";
}
#toast-container > .nueva:before{
    content: "\f12a";
}

/*fix fab*/
.menuContainer{
    min-width: 40px;
}

.text-center{
    text-align: center;
}

.tabla-equipo{
    margin-bottom: 15px;
    background-color: #ade2fa00;
}

.tabla-equipo-titulo{
    background: rgb(63,81,181);
    color: white;
}

.tabla-equipo-alumnos{
    width: 100%;
    background-color: #c5edff00;
}

.tabla-equipo-op{
    position: relative;
    width: 100%;
    margin: 1px 0;
}

.tabla-equipo-op:after{
    content: "";
    background: rgb(145, 145, 145);
    position: absolute;
    bottom: -1px;
    left: 10%;
    height: 1px;
    width: 80%;
}

.tabla-equipo-op-btn{
    width: 100%;
    margin: 0;
}

.tabla-equipo-cbtn-l{
    margin: 10px 0 !important;
}

.tabla-equipo-cbtn{
    margin: 0 10px !important;
}
