<md-dialog aria-label="List dialog" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Lista de preguntas del curso</h2>
                <span flex></span>
                <md-button aria-label="Cancelar" class="md-icon-button" ng-click="cancelar()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>

        <md-dialog-content>
            <div class="md-dialog-content">

                <md-toolbar class="md-table-toolbar alternate" ng-hide="listaPreguntasSeleccionadas.length">
                    <div class="md-toolbar-tools">
                        <span>Seleccione las preguntas que desea agregar a la clase.</span>
                    </div>
                </md-toolbar>
                <md-toolbar class="md-table-toolbar alternate" ng-show="listaPreguntasSeleccionadas.length">
                    <div class="md-toolbar-tools">
                        <span>{{listaPreguntasSeleccionadas.length}} {{listaPreguntasSeleccionadas.length > 1 ? 'preguntas seleccionadas' : 'pregunta seleccionada'}}</span>
                    </div>
                </md-toolbar>
                <md-table-container >
                    <table md-table md-progress="promesas" md-row-select="true" multiple="true" ng-model="listaPreguntasSeleccionadas">
                        <thead md-head>
                        <tr md-row >
                            <th md-column>Pregunta</th>
                        </tr>
                        </thead>
                        <tbody md-body>
                        <tr md-row md-select="pregunta" ng-repeat="pregunta in listaPreguntasDelCurso">
                            <td md-cell>{{pregunta.pregunta}}</td>
                        </tr>
                        </tbody>
                    </table>
                </md-table-container>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout-align="center center">
            <md-button aria-label="Aceptar" ng-click="aceptar()" class="md-raised md-primary">Si</md-button>
            <md-button aria-label="Cancelar" ng-click="cancelar()" class="md-raised md-primary">No</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>


