<div ng-controller="PreguntasController" ng-if="user.tipo=='profesor'">
    <h1><i class="fa fa-question"></i> Preguntas</h1>
    <p>Nota: Las preguntas archivadas solo pueden ser asignadas a una clase, no pueden ser editadas.</p>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-button class="md-raised" aria-label="Agregar pregunta" ng-click="agregarPregunta()">
                <i class="fa fa-search"></i> Agregar pregunta
            </md-button>
            <md-button class="md-raised" aria-label="Crear pregunta" ng-click="crearPregunta()">
                <i class="fa fa-plus"></i> Crear pregunta
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container >
        <table md-table class="tablaPreguntas" md-progress="promesas">
            <thead md-head>
            <tr md-row>
                <th md-column>#</th>
                <th md-column>Pregunta</th>
                <th md-column>Clase</th>
                <th md-column>Archivada?</th>
                <th md-column>Acciones</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-repeat="pregunta in listaPreguntasCurso">
                <td md-cell>{{$index+1}}</td>
                <td md-cell ng-if="pregunta.edicion!=true">{{pregunta.pregunta}}</td>
                <td md-cell ng-if="pregunta.edicion==true && _.isNull(pregunta.id_b_pregunta)">
                    <md-input-container class="md-block">
                        <label>pregunta</label>
                        <input required ng-model="pregunta.pregunta" type="pregunta">
                        <div ng-messages="pregunta.$error">
                            <div ng-message="required">Debe ingresar una pregunta.</div>
                        </div>
                    </md-input-container>
                </td>
                <td md-cell ng-if="pregunta.edicion==true && !_.isNull(pregunta.id_b_pregunta)">
                    {{pregunta.pregunta}}
                </td>

                <td md-cell ng-if="pregunta.edicion!=true" >
                    {{_.trunc(pregunta.clase,60)}}
                </td>
                <td md-cell ng-if="pregunta.edicion==true">
                    <md-input-container>
                        <label>Clase</label>
                        <md-select ng-model="pregunta.id_clase">
                            <md-optgroup label="{{modulo.nombre_modulo}}" ng-repeat="modulo in listaModulos">
                                <md-option ng-value="clase.id_clase" ng-repeat="clase in parearModulo(modulo.nombre_modulo)">{{_.trunc(clase.descripcion,60)}}</md-option>
                            </md-optgroup>
                        </md-select>
                    </md-input-container>
                </td>

                <td md-cell>
                    <span ng-if="_.isNull(pregunta.id_b_pregunta)" class="fa-stack fa-lg centrado">
                      <i class="fa fa-archive"></i>
                      <i class="fa fa-ban fa-stack-2x" style="color: red"></i>
                    </span>

                    <span ng-if="!_.isNull(pregunta.id_b_pregunta)">
                      <i class="fa fa-archive fa-2x centrado"></i>
                    </span>
                </td>

                <td md-cell ng-if="pregunta.edicion!=true">
                    <md-button aria-label="Editar" class="md-raised md-primary botonAccion" ng-click="editarPregunta(pregunta)">
                        <i class="fa fa-pencil"></i>
                    </md-button>
                    <md-button ng-if="_.isNull(pregunta.id_b_pregunta)" aria-label="Archivar" class="md-raised md-primary botonAccion" ng-click="archivarPregunta(pregunta)">
                        <i class="fa fa-archive"></i>
                    </md-button>
                    <md-button  aria-label="Eliminar" class="md-raised md-primary botonAccion" ng-click="eliminarPregunta(pregunta)">
                        <i class="fa fa-times"></i>
                    </md-button>
                </td>

                <td md-cell ng-if="pregunta.edicion==true">
                    <md-button  aria-label="Guardar" class="md-raised md-primary botonAccion" ng-click="guardarPregunta(pregunta)">
                        <i class="fa fa-floppy-o"></i>
                    </md-button>
                    <md-button  aria-label="Guardar" class="md-raised md-primary botonAccion" ng-click="cancelarPregunta(pregunta, $index)">
                        <i class="fa fa-times"></i>
                    </md-button>
                </td>
            </tr>

            </tbody>
        </table>
    </md-table-container>
</div>
