<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div class="col-sm-3 col-md-2 sidebar" ng-controller="MenuController">
    <div ng-if="user.tipo=='profesor'">
        <ul class="nav nav-sidebar">
            <li ng-repeat="opc in menu" ng-init="parentIndex = $index">
                <div ng-if="!buscarSemestre($index)">
                    <a ui-sref="crsApp.cursosSemestre({ano: opc.ano, semestre: opc.semestre})" ng-click="mostrarSemestre($index)">
                        <span class="font-bold">{{opc.ano}} Semestre {{opc.semestre}}</span>
                        <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                    </a>
                </div>
                <div ng-if="buscarSemestre($index)">
                    <a ng-click="mostrarSemestre($index)" style="background-color: #3F51B5">
                        <span class="font-bold" style="color: #ffffff;">{{opc.ano}} Semestre {{opc.semestre}}</span>
                        <span class="pull-right text-muted"  style="color: #ffffff;"><i class="fa fa-fw fa-angle-down text"></i></span>
                    </a>
                </div>
                <ul class="nav nav-sidebar" ng-if="buscarSemestre($index)">
                    <li ng-repeat="curso in opc.cursos">
                        <div ng-if="!buscarCurso(parentIndex,$index)">
                        <a ui-sref="crsApp.cursosSemestre.curso({curso: curso.nombre_curso})" ng-click="mostrarCurso(parentIndex,$index)">
                            <span class="font-bold">{{curso.nombre_curso}}</span>
                            <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                        </a>
                        </div>
                        <div ng-if="buscarCurso(parentIndex,$index)">
                            <a ng-click="mostrarCurso(parentIndex,$index)">
                                <span class="font-bold">{{curso.nombre_curso}}</span>
                                <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-down text"></i></span>
                            </a>
                        </div>

                        <ul class="nav nav-sidebar" ng-if="buscarCurso(parentIndex,$index) && curso.estado_curso !== 'creado'">
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.clases({curso: curso.nombre_curso})">
                                    <span class="font-bold">Clases</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.preguntas({curso: curso.nombre_curso})">
                                    <span class="font-bold">Preguntas</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.actividades({curso: curso.nombre_curso})">
                                    <span class="font-bold">Actividades</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.info({curso: curso.nombre_curso})">
                                    <span class="font-bold">Información</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.config({curso: curso.nombre_curso})">
                                    <span class="font-bold">Configuración</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                        </ul>
                        <ul class="nav nav-sidebar" ng-if="buscarCurso(parentIndex,$index) && curso.estado_curso == 'creado'">
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.config({curso: curso.nombre_curso})">
                                    <span class="font-bold">Configuración</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
    <div ng-if="user.tipo=='estudiante'">
        <ul class="nav nav-sidebar">
            <li ng-repeat="opc in menu" ng-init="parentIndex = $index">
                <div ng-if="!buscarSemestre($index)">
                    <a ui-sref="crsApp.cursosSemestre({ano: opc.ano, semestre: opc.semestre})" ng-click="mostrarSemestre($index)">
                        <span class="font-bold">{{opc.ano}} Semestre {{opc.semestre}}</span>
                        <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                    </a>
                </div>
                <div ng-if="buscarSemestre($index)">
                    <a ng-click="mostrarSemestre($index)">
                        <span class="font-bold">{{opc.ano}} Semestre {{opc.semestre}}</span>
                        <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                    </a>
                </div>
                <ul class="nav nav-sidebar" ng-if="buscarSemestre($index)">
                    <li ng-repeat="curso in opc.cursos">
                        <div ng-if="!buscarCurso(parentIndex,$index)">
                            <a ui-sref="crsApp.cursosSemestre.curso({curso: curso.nombre_curso})" ng-click="mostrarCurso(parentIndex,$index)">
                                <span class="font-bold">{{curso.nombre_curso}}</span>
                                <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                            </a>
                        </div>
                        <div ng-if="buscarCurso(parentIndex,$index)">
                            <a ng-click="mostrarCurso(parentIndex,$index)">
                                <span class="font-bold">{{curso.nombre_curso}}</span>
                                <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                            </a>
                        </div>

                        <ul class="nav nav-sidebar" ng-if="buscarCurso(parentIndex,$index) && curso.estado !== 'creado'">
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.clases({curso: curso.nombre_curso})">
                                    <span class="font-bold">Clases</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.clases.sesion({curso: curso.nombre_curso})">
                                    <span class="font-bold">Sesión</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.actividades({curso: curso.nombre_curso})">
                                    <span class="font-bold">Actividades</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                            <li>
                                <a ui-sref="crsApp.cursosSemestre.info({curso: curso.nombre_curso})">
                                    <span class="font-bold">Información</span>
                                    <span class="pull-right text-muted"><i class="fa fa-fw fa-angle-right text"></i></span>
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</div>
</body>
</html>