<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Meta del curso {{curso.nombre_curso}}</h2>
    </div>
</md-toolbar>
<p>Establece la cantidad de preguntas ideal que se deben realizar en el curso durante el semestre.</p>

<form layout="row" layout-align="center none" layout-padding>
        <md-input-container flex="50">
            <label>Cantidad de preguntas del curso</label>
            <input ng-model="curso.meta" type="number" step="1" ng-required="true" required>
        </md-input-container>
    <div>
    </div>
    <md-button aria-label="Guardar meta" class="md-raised md-primary botonAccion" ng-click="guardarMeta()">
        <md-tooltip md-direction="top" class="md-body-1">
            Guardar meta
        </md-tooltip>
        <i class="fa fa-floppy-o"></i> Guardar
    </md-button>
</form>
