<div ng-controller="PreguntasBibliotecaController" flex="90" flex-offset="5">
    <h1><i class="fa fa-archive"></i> Biblioteca de Preguntas</h1>

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-button class="md-raised" aria-label="Agregar Pregunta" ng-click="crearPregunta()">
                <i class="fa fa-plus"></i> Crear pregunta
            </md-button>
        </div>
    </md-toolbar>
    <md-table-container ng-if="bibliotecaDePreguntas.length === 0">
        <table md-table md-progress="promesas">
            <thead md-head>
            <tr md-row>
                <th md-column>Pregunta</th>
                <th md-column>Acciones</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr>
                <td class="md-title centrado">Biblioteca de preguntas vacia.</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <md-table-container ng-if="bibliotecaDePreguntas.length > 0">
        <table md-table md-progress="promesas">
            <thead md-head>
                <tr md-row>
                    <th md-column>Pregunta</th>
                    <th md-column>Acciones</th>
                </tr>
            </thead>
            <tbody md-body>
                <tr md-row ng-repeat="pregunta in bibliotecaDePreguntas">
                    <td md-cell ng-if="!pregunta.edicion">{{pregunta.b_pregunta}}</td>
                    <td md-cell ng-if="pregunta.edicion">
                        <md-input-container class="md-block">
                            <label>Pregunta</label>
                            <input name="pregunta" ng-model="pregunta.b_pregunta" ng-required="true" required>
                            <div ng-messages="pregunta.$error">
                                <div ng-message="required">Debe ingresar la pregunta.</div>
                            </div>
                        </md-input-container>
                    </td>
                    <td md-cell ng-if="pregunta.edicion">
                        <md-button aria-label="Guardar" class="md-raised md-primary botonAccion" ng-click="guardarPregunta(pregunta)">
                            <i class="fa fa-floppy-o"></i>
                        </md-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </md-table-container>
</div>