<md-dialog aria-label="Crear tema" ng-cloak>
    <form >
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2><i class="fa fa-user-plus"></i> {{titulo}}</h2>
                <span flex></span>
                <md-button aria-label="Cancelar" class="md-icon-button" ng-click="cancelar()">
                    <i class="fa fa-times"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <md-input-container class="md-block">
                    <label>Nombre del tema</label>
                    <input name="nombre" ng-model="tema.nombre" required>
                    <div ng-messages="nombre.$error">
                        <div ng-message="required">Debe ingresar un nombre.</div>
                    </div>
                </md-input-container>
		<div ng-controller="TopicosController">
		<md-input-container class="md-block">
                    <label>Tópico</label>
		    <md-select ng-model="tema.id_topico">
			<md-option ng-value="topico.id_topico" ng-repeat="topico in listaTopicos">{{topico.nombre}}</md-option>
		    </md-select>
                </md-input-container>
		</div>

             </div>
        </md-dialog-content>
        <md-dialog-actions layout-align="center center">
            <md-button aria-label="Aceptar" ng-click="aceptar()" class="md-raised md-primary">Guardar</md-button>
            <md-button aria-label="Cancelar" ng-click="cancelar()" class="md-raised md-primary">Cancelar</md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
