<md-toolbar>
    <div class="md-toolbar-tools">
        <h2>Temas de la asignatura {{asignatura.nombre_asignatura}}</h2>
    </div>
</md-toolbar>
<br>
<div ng-controller="TemasController" ng-if="user.tipo=='profesor'">
    <h1><i class="fa fa-users"></i> Temas</h1>

<md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <md-button class="md-raised" aria-label="Agregar Tema" ng-click="nuevoTema()">
                <i class="fa fa-user-plus"></i> Agregar tema
            </md-button>
        </div>
</md-toolbar>
        <md-table-container ng-if="listaTemas.length>0">
            <table md-table md-progress="promesas">
            <thead md-head>
            <tr md-row>
                <th md-column>#</th>
                <th md-column>Nombre</th>
		<th md-column>Tópico</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr md-row ng-repeat="tema in listaTemas">
                <td md-cell >{{$index+1}}</td>
                <td md-cell >{{tema.nombre}}</td>
		<td md-cell >{{tema.nombre_topico}}</td>
		    <td class="column-acciones" md-cell>
                        <md-button aria-label="Editar" class="md-raised md-primary botonAccion" ng-click="editarTema(tema)">
                            <i class="fa fa-pencil"></i>
                        </md-button>
                        <md-button aria-label="Eliminar" class="md-raised md-primary botonAccion" ng-click="eliminarTema(tema, $index)">
                            <i class="fa fa-close"></i>
                        </md-button>
                    </td>
            </tr>
            </tbody>
            <tbody md-body>
            </tbody>
        </table>
    </md-table-container>
</div>

