<div ng-controller="PreguntaSesionController" layout="column" layout-align="none none" flex="100">
    <div flex="20" ng-hide="participantes"></div>
    <div ng-show="esperar" layout="column" layout-align="center center">
        <h1>Por favor espere mientras se realiza la pregunta</h1>
        <div>
            <i class="fa fa-spinner fa-pulse fa-5x"></i>
        </div>
    </div>
    <div ng-show="preguntaRealizada" layout="column" layout-align="center center">
        <h1>{{pregunta.pregunta}}</h1>
    </div>
    <div ng-show="participar" layout="column" layout-align="center center">
        <md-button class="md-fab md-raised md-warn btnParticipar" aria-label="Participar" ng-click="responderPregunta(pregunta)">
            Participar
        </md-button>
    </div>
    <div flex ng-hide="participantes || responder"></div>
    <md-table-container ng-show="participantes">
        <table md-table class="tablaPreguntas alternarColor" md-progress="cargando">
            <thead md-head>
            <tr md-row>
                <th md-column>#</th>
                <th md-column>Nombre</th>
                <th md-column>Apellido</th>
                <th md-column>RUT</th>
            </tr>
            </thead>
            <tbody md-body>
            <tr ng-repeat="participante in listaParticipantes" ng-class="{'seleccionado': participante.estado_part_preg !='noSeleccionado'}">
                <td md-cell>{{$index+1}}</td>
                <td md-cell>{{participante.nombre}}</td>
                <td md-cell>{{participante.apellido}}</td>
                <td md-cell>{{participante.rut}}</td>
            </tr>
            </tbody>
        </table>
    </md-table-container>
    <div ng-show="responder" class="centrado">
        <br><br>
        <h1>Es su turno para responder.</h1>
        <br><br>
    </div>
    <div ng-show="resultado" class="centrado">
        <br><br>
        <h1>{{msjResultado}}</h1>
        <br><br>
    </div>
</div>
</body>
</html>