<!DOCTYPE html>
<html lang="es">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
<div ng-controller="ClasesController">
    <div ng-if="user.tipo=='estudiante'">
        <h1>Clases - {{titulo}}</h1>
        <div class="table-responsive">
            <table class="table table-hover table-condensed table-bordered">
                <thead>
                <tr>
                    <th>
                        Fecha
                        <i class="fa fa-caret-down"></i>
                    </th>
                    <th>Descripción</th>
                    <th>Módulo</th>
                    <th>Sesión</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="clase in listaClases">
                    <td class="col-md-1">{{clase.fecha | date:'dd-MM-yyyy' }}</td>
                    <td>{{clase.descripcion}}</td>
                    <td>{{clase.modulo}}</td>
                    <td class="col-md-2 centrado">
                        <div ng-if="clase.estado_sesion=='iniciada'">
                            <button class="btn btn-primary" ng-click="ingresarSesion(clase)">
                                <i class="fa fa-play"></i>
                            </button>
                        </div>
                        <div ng-if="clase.estado_sesion=='noiniciada'">
                            <button class="btn btn-primary">
                                <i class="fa fa-clock-o"></i>
                            </button>
                        </div>
                        <div ng-if="clase.estado_sesion=='cerrada'">
                            <button class="btn btn-primary">
                                <i class="fa fa-lock"></i>
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="col-md-12 centrado">
                <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
            </div>
        </div>
    </div>
</div>
</body>
</html>